<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.Book_StoreConnectionString"
            connectionString="Data Source=LAPTOP-3JB6IQD2;Initial Catalog=Book_Store;Persist Security Info=True;User ID=sa;Password=sa123"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.Book_StoreConnectionString1"
            connectionString="Data Source=LAPTOP-3JB6IQD2;Initial Catalog=Book_Store;User ID=sa;Password=sa123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>